<%- contentFor('title') %>
NATIONAL PARKS

<%- contentFor('body') %>
<noscript>You need to enable JavaScript to run this app.</noscript>
<section class="container col-md-offset-3 col-md-6" id="root"></section>
<script type="text/javascript" src="/js/build.js"></script>

<!-- include stylesheet here -->

<!-- include react bundle file here -->
